{% load static links %}
<div class="grid">

    <div class="logo col-7-12">
        <a href="{% url 'home' %}">
            <img src="{% static 'paraserry/img/paraserry.png' %}" >
        </a>
    </div>
    <div class="logo col-5-12">

        <nav class="main">
            {% get_link_descendants 'main-nav' as links %}
            <div class="pull-down">
                <ul>
                    {% for link in links %}
                    <li><a href="{{link.item.get_path}}" id="{{link.item.txtid}}">{{link.item.display_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </nav>
    </div>


</div>