{% load static templatetags %}
<div class="grid">

    <div class="logo col-7-12">
        <a href="{% url 'home' %}">
            <img src="{% static 'paraserry/img/paraserry.png' %}" >
        </a>
    </div>
    <div class="logo col-5-12">

        <nav class="main">
            <div class="pull-down">
                <ul>


                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                    <li>LINK</li>
                </ul>
            </div>

        </nav>
    </div>


</div>