<li class="resume-item">
    <div class="grid">
        <div class="col-8-12 margin-bottom">
            <h3>{{ item.title }}</h3>
            <h4>{{ item.employer }}</h4>
        </div>
        <div class="daterange col-4-12">
            <h4>{{ item.get_daterange }}</h4>
        </div>
    </div>

    {% if item.description %}
    <p>{{ item.description }}</p>
    {% endif %}

    <ul>
        {% for task in item.resumeitemdetail_set.all %}
        <li>{{ task.description }}</li>
        {% endfor %}
    </ul>
</li>