/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* page layouts */
/* cssreset.com */
/* line 2, ../../../frontend/sass/_core.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../../../frontend/sass/_core.scss */
html {
  font-family: 'cabinregular';
}

/* line 17, ../../../frontend/sass/_core.scss */
h1 {
  font-size: 2.1em;
  line-height: 1.1em;
}

/* line 22, ../../../frontend/sass/_core.scss */
h2 {
  font-size: 1.8em;
  line-height: 1.4em;
  margin-bottom: 1.3em;
}

/* line 29, ../../../frontend/sass/_core.scss */
h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: .2em;
}

/* line 35, ../../../frontend/sass/_core.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: .2em;
}

/* line 42, ../../../frontend/sass/_core.scss */
h5 {
  font-size: 1.1em;
  line-height: 1.2em;
  margin-bottom: .2em;
}

/* line 47, ../../../frontend/sass/_core.scss */
h6 {
  font-size: 1em;
  line-height: 1.2em;
  font-style: italic;
  margin-bottom: .2em;
}

/* line 53, ../../../frontend/sass/_core.scss */
p {
  font-size: 1em;
  line-height: 1.3em;
}

/* line 58, ../../../frontend/sass/_core.scss */
li {
  line-height: 1.2em;
}

/* line 62, ../../../frontend/sass/_core.scss */
.body {
  width: 100%;
  min-height: 500px;
}

/* line 68, ../../../frontend/sass/_core.scss */
.background {
  padding-top: 80px;
  width: 100%;
  height: 100%;
  background-color: #F2ECE1;
  background-attachment: fixed;
}

/* line 86, ../../../frontend/sass/_core.scss */
nav li {
  font-size: 1.2em;
  line-height: 1.3em;
}

/* line 93, ../../../frontend/sass/_core.scss */
section {
  padding: 1em;
  margin: 2em auto;
}

/* line 99, ../../../frontend/sass/_core.scss */
.foreground {
  background-color: rgba(223, 224, 197, 0.8);
  width: 100%;
}
/* line 104, ../../../frontend/sass/_core.scss */
.foreground.color-1 {
  background-color: rgba(204, 199, 171, 0.6);
}
/* line 108, ../../../frontend/sass/_core.scss */
.foreground.color-2 {
  background-color: rgba(223, 224, 197, 0.7);
}

/* line 116, ../../../frontend/sass/_core.scss */
.float-left {
  float: left;
}

/* line 120, ../../../frontend/sass/_core.scss */
.float-right {
  float: right;
}

/* line 123, ../../../frontend/sass/_core.scss */
.margin-bottom {
  margin-bottom: 1em;
}

/* line 1, ../../../frontend/sass/_header.scss */
header {
  width: 100%;
  background-color: #F2ECE1;
  z-index: 5;
  position: fixed;
  height: auto;
}

/* line 15, ../../../frontend/sass/_header.scss */
.logo img {
  width: auto;
}

/* line 20, ../../../frontend/sass/_header.scss */
nav {
  height: 60px;
  position: relative;
}
/* line 25, ../../../frontend/sass/_header.scss */
nav ul {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 33, ../../../frontend/sass/_header.scss */
nav li {
  float: right;
  margin-left: 2em;
}
/* line 38, ../../../frontend/sass/_header.scss */
nav li a {
  color: black;
  text-decoration: none;
}
/* line 42, ../../../frontend/sass/_header.scss */
nav li a:hover {
  color: #981c1c;
}

@media (max-width: 768px) {
  /* line 50, ../../../frontend/sass/_header.scss */
  nav {
    height: auto;
    position: static;
  }
  /* line 53, ../../../frontend/sass/_header.scss */
  nav ul {
    position: static;
  }
  /* line 56, ../../../frontend/sass/_header.scss */
  nav li {
    float: left;
    margin-left: 0em;
    margin-right: 2em;
  }
}
@media (max-width: 550px) {
  /* line 67, ../../../frontend/sass/_header.scss */
  .logo img {
    width: 80%;
  }

  /* line 74, ../../../frontend/sass/_header.scss */
  nav li {
    float: left;
    margin-left: 0em;
    margin-right: .6em;
  }
}
/* line 1, ../../../frontend/sass/_footer.scss */
footer {
  width: 100%;
  background-color: #ebebd4;
  height: 80px;
  z-index: 10;
}

/* line 10, ../../../frontend/sass/_footer.scss */
.footer-social li {
  float: left;
  margin-right: .8em;
}
/* line 14, ../../../frontend/sass/_footer.scss */
.footer-social li a {
  color: black;
}
/* line 16, ../../../frontend/sass/_footer.scss */
.footer-social li a:hover {
  color: #981c1c;
}

/* line 1, ../../../frontend/sass/_projects.scss */
#project-list, #resume-list, #about-me, #contact-me {
  width: 100%;
  height: 20px;
}

/* line 7, ../../../frontend/sass/_projects.scss */
.project-preview {
  margin-bottom: 5em;
  width: 100%;
}
/* line 12, ../../../frontend/sass/_projects.scss */
.project-preview a {
  color: #981c1c;
}
/* line 16, ../../../frontend/sass/_projects.scss */
.project-preview .grid {
  padding-left: 0;
}
/* line 20, ../../../frontend/sass/_projects.scss */
.project-preview li {
  margin-bottom: 2em;
}
/* line 26, ../../../frontend/sass/_projects.scss */
.project-preview figure img {
  width: 100%;
  height: auto;
}

/* line 33, ../../../frontend/sass/_projects.scss */
.project-detail {
  padding: 10px;
  width: 100%;
  margin-bottom: 4em;
}

@media (max-width: 768px) {
  /* line 42, ../../../frontend/sass/_projects.scss */
  #project-list, #resume-list, #about-me, #contact-me {
    height: 45px;
  }

  /* line 46, ../../../frontend/sass/_projects.scss */
  .project-preview {
    margin-bottom: 3em;
    max-width: 95%;
  }
}
/* line 1, ../../../frontend/sass/_main.scss */
.about-me {
  min-height: 300px;
}

/* line 5, ../../../frontend/sass/_main.scss */
.resume-list {
  min-height: 600px;
}

/* line 10, ../../../frontend/sass/_main.scss */
.resume-item {
  margin: 2em;
  margin-left: 0;
  max-width: 75%;
}
/* line 15, ../../../frontend/sass/_main.scss */
.resume-item .grid {
  padding-left: 0;
}
/* line 18, ../../../frontend/sass/_main.scss */
.resume-item ul {
  margin-left: 1.3em;
}
/* line 22, ../../../frontend/sass/_main.scss */
.resume-item li {
  margin-bottom: .5em;
  list-style-type: disc;
}

@media (max-width: 768px) {
  /* line 31, ../../../frontend/sass/_main.scss */
  #project-list, #resume-list, #about-me, #contact-me {
    height: 45px;
  }

  /* line 35, ../../../frontend/sass/_main.scss */
  .resume-item {
    max-width: 95%;
  }
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
