/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* page layouts */
/* cssreset.com */
/* line 2, ../../../frontend/sass/_core.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../../../frontend/sass/_core.scss */
html {
  font-family: 'cabinregular';
}

/* line 17, ../../../frontend/sass/_core.scss */
h1 {
  font-size: 2em;
  line-height: 1.1em;
}

/* line 22, ../../../frontend/sass/_core.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.2em;
}

/* line 28, ../../../frontend/sass/_core.scss */
h3 {
  font-size: 1.4em;
  line-height: 1.2em;
}

/* line 33, ../../../frontend/sass/_core.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.2em;
}

/* line 39, ../../../frontend/sass/_core.scss */
h5 {
  font-size: 1.1em;
  line-height: 1.2em;
}

/* line 43, ../../../frontend/sass/_core.scss */
h6 {
  font-size: 1em;
  line-height: 1.2em;
}

/* line 47, ../../../frontend/sass/_core.scss */
p {
  font-size: 1em;
  line-height: 1.3em;
}

/* line 52, ../../../frontend/sass/_core.scss */
li {
  line-height: 1.2em;
}

/* line 56, ../../../frontend/sass/_core.scss */
.body {
  width: 100%;
  min-height: 500px;
}

/* line 62, ../../../frontend/sass/_core.scss */
.background {
  padding-top: 80px;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url("../img/skulls.png");
}

/* line 79, ../../../frontend/sass/_core.scss */
section {
  padding: 1em;
  margin: 2em auto;
}

/* line 85, ../../../frontend/sass/_core.scss */
.foreground {
  background-color: rgba(223, 224, 197, 0.7);
}

/* line 92, ../../../frontend/sass/_core.scss */
.float-left {
  float: left;
}

/* line 96, ../../../frontend/sass/_core.scss */
.float-right {
  float: right;
}

/* line 99, ../../../frontend/sass/_core.scss */
.margin-bottom {
  margin-bottom: 1em;
}

/* line 1, ../../../frontend/sass/_header.scss */
header {
  width: 100%;
  z-index: 10;
  position: fixed;
}

/* line 12, ../../../frontend/sass/_header.scss */
.logo img {
  height: 65px;
  width: auto;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 20, ../../../frontend/sass/_header.scss */
nav li {
  float: left;
  margin-left: 2em;
}
/* line 24, ../../../frontend/sass/_header.scss */
nav li a {
  color: black;
  text-decoration: none;
}
/* line 28, ../../../frontend/sass/_header.scss */
nav li a:hover {
  color: #981c1c;
}

/* line 1, ../../../frontend/sass/_footer.scss */
footer {
  border-top: 1px solid black;
  width: 100%;
  height: 80px;
  z-index: 10;
}

/* line 9, ../../../frontend/sass/_footer.scss */
.footer-social li {
  float: left;
  margin-right: .8em;
}
/* line 13, ../../../frontend/sass/_footer.scss */
.footer-social li a {
  color: black;
}
/* line 15, ../../../frontend/sass/_footer.scss */
.footer-social li a:hover {
  color: #981c1c;
}

/* line 1, ../../../frontend/sass/_projects.scss */
.project-list {
  border: 1px solid black;
}

/* line 6, ../../../frontend/sass/_projects.scss */
.project-preview {
  margin: 2em;
  max-width: 75%;
}
/* line 11, ../../../frontend/sass/_projects.scss */
.project-preview a {
  color: #981c1c;
}
/* line 15, ../../../frontend/sass/_projects.scss */
.project-preview .grid {
  padding-left: 0;
}
/* line 19, ../../../frontend/sass/_projects.scss */
.project-preview li {
  margin-bottom: .5em;
}

/* line 25, ../../../frontend/sass/_projects.scss */
.project-detail {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

/* line 1, ../../../frontend/sass/_main.scss */
.resume-list {
  border: 1px solid black;
}

/* line 5, ../../../frontend/sass/_main.scss */
.resume-item {
  margin: 2em;
  max-width: 75%;
}
/* line 9, ../../../frontend/sass/_main.scss */
.resume-item .grid {
  padding-left: 0;
}
/* line 13, ../../../frontend/sass/_main.scss */
.resume-item li {
  margin-bottom: .5em;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
