/* cssreset.com */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'cabinregular';
}
body {
    
}


h1 {
	font-size:2em;
    line-height:1.1em;
}

h2 {
	font-size:1.6em;
    line-height:1.2em;

}

h3 {
	font-size:1.4em;
    line-height:1.2em;

}
h4 {
	font-size:1.2em;
    line-height:1.2em;

}

h5 {
	font-size:1.1em;
    line-height:1.2em;
}
h6 {
	font-size:1em;
    line-height:1.2em;
}
p {
	font-size:1em;
    line-height:1.2em;
}

li {
    line-height:1.2em;
}

.body {
    width:100%;
    min-height:500px;

}

.background {
    width:100%;
    background-color:#F2ECE1;
    //-khtml-opacity:.50; 
    //-moz-opacity:.50; 
    //-ms-filter:"alpha(opacity=50)";
    //filter:alpha(opacity=50);
    //filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    //opacity:.50; 
    z-index:0;

}

.float-left {
    float:left;
}

.float-right {
    float:right;
}
.margin-bottom {
    margin-bottom:1em;
}


