footer {
    border-top:1px solid black;
	width:100%;
	margin-top:20px;
}
.footer-social {
    li {
        float:left;
        margin-right:.8em;

        a {
            color: black;
            &:hover {
                color: #981c1c;

            }
        }

    }
}