footer {
    //border-top:1px solid black;
	width:100%;
    //background-color: rgba(235,235,212,1.0);
    background-image: url("../img/skulls.png");
    height:80px;
    z-index:10;
}
.footer-social {
    li {
        float:left;
        margin-right:.8em;

        a {
            color: black;
            &:hover {
                color: #981c1c;

            }
        }

    }
}