.about-me {
    min-height:300px;
}

.resume-list {
    min-height:600px;
    //border:1px solid black;
}

.resume-item {
    margin:2em;
    max-width:75%;

    .grid {
        padding-left:0;
    }

    li {
        margin-bottom:.5em;

    }
}

