.project-list {
    border:1px solid black;

}

.project-preview {
    //border:1px solid black;
    margin:2em;
    max-width:75%;

    a {
        color: #981c1c;
    }

    .grid {
        padding-left:0;
    }

    li {
        margin-bottom:.5em;

    }
}

.project-detail{
	//border:1px solid black;
	padding:10px;
	width:100%;
	margin-bottom:20px;
}
